{% extends '/Base.html'%}
{% block body%}
<section class = "Body-Container">
<section class="Input-Container">
<h2>Update</h2>
<form action="/UpdateBoat" method="POST">
    <input type="number" name="id" placeholder="ID" class="input_field" required> <br>
    <input type="text" name="name" placeholder="Boat name" class="input_field"> <br>
    <input type="text" name="type" placeholder="Boat type" class="input_field"> <br>
    <input type="number" name="owner_id" placeholder="Owner ID" class="input_field"> <br>
    <input type="number" name="rental_price" placeholder="Rental price" class="input_field" step="0.001"> <br>
    <input type="submit" value="Submit" class="input_submit">
</form>
</section>

<section class = "BoatCard-Container">
    {% for boat in boats %}
    
    <ul class ="BoatCard">ID : <strong>{{boat[0]}}</strong>
     <ul>Name : {{boat[1]}} </ul>
     <ul>Type : {{boat[2]}}</ul>
     <ul>Owner ID : {{boat[3]}}</ul>
    <ul> Price : ${{boat[4]}}</ul>
    </ul>
    
    {% endfor %}
    </section>
    </section>

{% endblock %}